*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    background-image:linear-gradient(140deg, #f66848, #09632c,purple);
    padding: 10px;
    min-height: 100vh;
    
    

}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #ffffff;
    margin: 80px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    height: 500px;
    overflow: scroll;
} 

.todo-app h2{
    color:#ec5c19;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    text-decoration:underline;
    font-size: 30px;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background: #ffffff;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: 1px solid black;
    background: transparent;
    padding: 10px;
    border-radius: 25px;
    margin-right: 25px;
    font-size: 18px;
    

}

button{
    border: none;
    outline:none;
    padding:12px 30px;
    background: linear-gradient(red,rgb(3, 30, 3));
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: auto;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px; 

}

#can{
    border: none;
    outline:none;
    margin-left: 5px;
    padding:12px 12px;
    background: linear-gradient(rgb(37, 124, 24),rgb(3, 30, 3));
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 40px;


}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);

}

ul li span{
    position: absolute;
    right: 0;
    top:5px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #c92121;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
    

ul li span:hover{
    cursor: pointer;
    background: #edeef0;
    
}
/********************  css  for mobile devices  ***************************************/

@media screen and (max-width:500px){

    .todo-app{
        width: 40px;
        max-width: 100px;
        background: #ffffff;
        margin: 120px auto 20px;
        padding: 40px 30px 70px;
        border-radius: 10px;
        height: 100px;
        overflow: scroll;
    } 

    button{
        border: none;
        outline:none;
        padding:5px 20px;
        background: linear-gradient(red,rgb(3, 30, 3));
        color: #ffffff;
        font-size: 12px;
        cursor: pointer;
        border-radius: 12px;
    }
    .todo-app h2 img{
        width: 12px;
        margin-left: 5px;
    }
    ul li::before{
        content: '';
        position: absolute;
        height: 12px;
        width: 15px;
        background-image: url(images/unchecked.png);
        background-size: cover;
        background-position: center;
        /* top: 13px;
        left: 8px;  */
        margin-top: 4px;
    
    }
    input{
        flex: 1;
        border: none;
        outline: 1px solid black;
        background: transparent;
        padding: 5px;
        border-radius: 25px;
        margin-right: 18px;
        font-size: 11px;
        text-align: center;
        justify-content: center;
        
    
    }
    .container{
        width: 100%;
        background-image:linear-gradient(140deg, #f66848, #15a74d,purple);
        padding: 10px;
        min-height: 100vh;
        
        
    
    }
    
    .todo-app{
        width: 100%;
        max-width: 300px;
        background: #ffffff;
        margin: 50px auto 20px;
        padding: 40px 30px 70px;
        border-radius: 10px;
        height: 400px;
    } 
    
    .todo-app h2{
        color:#ec5c19;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        justify-content: center;
        text-decoration:underline;
        font-size: 18px;
    }
    
    .todo-app h2 img{
        width: 20px;
        margin-left: 10px;
        height: 18px;
    }
    
    .row{
        display: flex;
        align-items: center;
        justify-content:center;
        background: #ffffff;
        border-radius: 30px;
        padding-left: 20px;
        margin-bottom: 15px;
        margin-right: 5px;
    }
    
ul li{
    list-style: none;
    font-size: 14px;
    padding: 8px 8px 10px px;
    user-select: none;
    cursor:pointer;
    position: relative;
}


ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #c92121;
    line-height: 40px;
    text-align: center;
    /* border-radius: 50%; */
    /* top:-1px */
}
    
#can{
    border: none;
    outline:none;
    margin-left: 5px;
    padding:6px 10px;
    background: linear-gradient(rgb(37, 124, 24),rgb(3, 30, 3));
    color: #ffffff;
    font-size: 8px;
    cursor: pointer;
    border-radius: 40px;


}

ul li span:hover{

    cursor: pointer;
    background: #edeef0;
}

}
